body {
    background: #181E34;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    font-family: "montserrat", "Arial", sans-serif;
    font-weight: 400px;
}

.container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ============================================== */
.header {
    padding: 30px 0 36px;
}

.header-in {
    display: flex;
    align-items: center;

}

.header-naw {
    margin-left: auto;
}

.header-list {
    display: flex;
}

.header-item {
    margin-right: 30px;
}

.heder-button {
    font-weight: 500;
    color: var(--unnamed, #2766AE);
    border-radius: 100px;
    background: var(--unnamed, #FFF);
    padding: 14px 30px;
}

/* ======================== */
.hero {
    margin: 0 auto;
    background: url("/img/hero.jpg")10% 50% / cover no-repeat;
}


.hero-title {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    padding-top: 120px;
}

.main {
    padding-top: 60px;
    flex: auto;
    justify-content: space-between;
    display: flex;
}

.text-1 {
    max-width: 436px;
    flex: auto;
    font-weight: 400;
}

span {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #01A2CB;
}

.text-2 {
    max-width: 436px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 120px;
    overflow-wrap: unset;
}




.button-section-1 {
    margin-top: 17px;
    width: 320px;
    height: auto;
    display: flex;
    padding: 18px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: linear-gradient(180deg, #00A4CC 0%, #2766AE 100%);
}

/* ========================================= */
.button-section-2 {
    padding: 120px 0;
    width: 320px;
    display: flex;
    margin-top: 12px;
    padding: 18px 30px;
    justify-content: center;
    border-radius: 100px;
    border-radius: 100px;
    background: linear-gradient(129deg, #00A4CC 0%, #2766AE 100%);
}

.button-section-2 img {
    margin-left: 4px;
}



h2 {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    padding-top: 120px;
    margin-bottom: 15px;
}

.p2 {
    text-align: center;
    max-width: 512px;
    margin: auto;
    margin-bottom: 60px;

}

.frame {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -28px;
    padding-bottom: 30px;
    margin: 0 -14px;
}





.frame-1 {
    padding: 0 14px;
    margin-bottom: 28px;
    flex: 0 0 25%;
}

.frame-2 {
    border-radius: 16px;
    border: 2px solid #176BAE;
    background: #197CB8;
    box-shadow: 4px 4px 13px 0px rgba(5, 13, 41, 0.76);
    padding: 28px 15px;

}

h4 {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.p3 {
    align-self: center;
}

.button-section-3 {
    display: block;
    border-radius: 100px;
    padding: 18px 30px;
    background: linear-gradient(180deg, #00A4CC 0%, #2766AE 100%);
    text-align: center;
    max-width: 436px;
    margin: auto;
    margin-bottom: 120px;
}

/* ========================================== */
.footer {
    border-top: 1px solid #323952;
    display: flex;
    padding: 60px 0;
    justify-content: space-between;
    height: 241px;
}

.information-1 {
    max-width: 267px;
}

img {
    margin-bottom: 15px;
}

h5 {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 20px;
}
li{
    padding: 5px;
}