@font-face {
    font-family: 'Noto Sans Sogdian';
    src: local('Noto Sans Sogdian Regular'), local('NotoSansSogdian-Regular'),
        url('/fonts/NotoSansSogdian-Regular.woff2') format('woff2'),
        url('/fonts/NotoSansSogdian-Regular.woff') format('woff');
        font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.text {
    font-family: "Noto Sans Sogdian";
    font-weight: 400;
}