body {
    font-size: 40px;
}

/* ===================================================== */

/* *{
    box-sizing: border-box;
} */
.block{
    width: 500px;
    text-align: center;
    margin-left: 200px;
    background: rgb(243, 4, 4);
    display: inline-block;
}
.block-2{
    background: burlywood;

}



.inline {
display: none;
}


.img{
    display: block;
}