/* класс - приоритет 10 */
.block {
    background: #000;
    width: 500px;
    height: 500px;
}

/*  ID - приоритет 100 */
#block {
    background: rgb(243, 159, 3);
    height: 500px;
    width: 500px;
}

.block-2 {
    background: #450fda;
    height: 500px;
    width: 500px;
}

/* тег - приоритет 1 */
div { 
    background-color: aqua; 
}

/* сложение приоритетов - тег плюс класс=1+10=11 */
div.block {
    background: #ff0101;
}

/* флаг важности - приоритет 10000 */
div  {
    background: #b3ff03;
}
